{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron-img jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Your Devices List <i class="fa fa-robot"></i></h1>
    </div>
</div>
<table class="content-table table-sortable">
  <thead>
    <tr>
      <th>Device_Id</th>
      <th>Name</th>
      <th>CompanyName</th>
      <th>ExpiryDate</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
  {% for device in Devices %}
    <tr>
      <td>{{ device.GetDeviceId }}</td>
      <td>{{ device.GetName }}</td>
      <td>{{ device.GetCompanyName }}</td>
      <td>{{ device.GetExpiryDate|date("m/d/Y") }}</td>
      <td>{{ device.GetStatus }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<a href="{{ path('add_device') }}" ><button class="btn btn-dark" type="submit">Add Device</button> </a>
{% endblock %}

